torch
torchvision
numpy
trimesh
PyYAML
scipy
setuptools
tqdm
leap
tensorboard
tensorboardx
cython
scikit-image
yaml
torchgeometry
pyrender
setuptools
opencv-python
tinyobjloader==2.0.0rc7
git+https://github.com/NVIDIAGameWorks/kaolin.git